body {
  margin: 0;
  font-family: "blacksword";
  /* color: white; */
  font-size: x-large;
  background-color: #0eb5ad;
  /* background: url(./images/wood_grain_background.png) no-repeat center center fixed;  */
  background: url(./images/tree-rings.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  margin-top: 0rem;
  margin-bottom: -1rem;
  position: fixed;
  height: 3rem;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 99;
}

.wedding-yellow {
  color: #FFCE33;
}
.wedding-blue {
  color: #0CA489;
}

.wedding-pink {
  color: #F1135D
}

.wedding-orange {
  color: #E85A0A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Blacksword';
  src: local('Blacksword'), url(./fonts/Blacksword.ttf)
}