.sidebar-container {
    background-color: #0CA489;
    color: #FFCE33;
    // background-image: linear-gradient(
    //     rgba(252, 252, 252, 0.5),
    //     rgba(252, 252, 252, 0.5)
    //   ), url(../../images/mexican_white.png);
    height: 2.5rem;
    top: 0px auto;
    margin: 4.5rem auto;
}

.sidebar-container a {
    float: left;
    display: block;
    font-weight: bold;
    // color: black;
    color: #FFCE33;
    text-align: center;
    padding: 0 1.4rem;
    text-decoration: none;
    font-size: 1.4rem; 
}
.sidebar-container ul {
    padding-left: 20%;
}

.sidebar-container li {
    float: left;
    list-style: none;
}
.li-top {
    float: left;
    // line-height: 1;
    // margin-right: 12px
    border-radius: 2px;
    border: 1px solid #e7e7e7;
    display: block;
    color: #aabbcc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li-top:active {
    color: white;
    background-color: #F1135D;
}

.active {
    color: white;
}
.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5rem solid transparent;
    // border-radius: 1.3rem;
    transition: 0.3s border-color ease;
    font-size: 1.4rem;
    height:3.4rem;
    // color: #FFCE33;
    color: white;

    &:hover {
        color: #E85A0A;
        text-decoration: none;
        border-bottom-color:#E85A0A;;
    }
}

.nav-active {
    border-bottom-color: white;
}


.nav-container {
    position: fixed;
    top: 0px;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    height: 5.5rem;
}

.navigation-pages {
    flex-grow: 1;
    display: flex;
    align-items: center;
    list-style: none;
    height: 3rem;
    margin: 0rem;
    padding-left: 20%;
    
    color: white;
    background-color: #F1135D;
    // background-image: linear-gradient(
    //     rgba(252, 252, 252, 0.5),
    //     rgba(252, 252, 252, 0.5)
    //   ), url(../../images/mexican_white.png);

    li {
        line-height: 1;
        margin-right: 3.2rem;
    }
}