
.primary-nav-container {
    background-color: #FFCE33;
}

.primary-nav {
    display: flex;
    align-items: center;
    height: 28px;
    margin-top: 1rem;
    position:sticky;
    top:0;
}

.nav-pages {
    // flex-grow: 1;
    // display: flex;
    // align-items: center;
    // list-style: none;
    // margin:0;
    list-style-type: none;
    // width:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFCE33;
    background-image: url(../../images/mexican_white.png);
  
}

.li-top {
    float: left;
    // line-height: 1;
    // margin-right: 12px
    border-radius: 2px;
    border: 1px solid #e7e7e7;
    display: block;
    color: #aabbcc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li-top:active {
    color: white;
    background-color: #F1135D;
}

.active {
    color: white;
}
.nav-link {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    border-bottom: 6px border-color grey;
    font-size: 6px;
    height: 28px;
}

.nav-active {
    border-bottom-color: blueviolet;
}