
.primary-nav-container {
    background-color: #FFCE33;
}

.primary-nav-2 {
    padding-top: 1rem;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 5rem;

    // width: 750px;
    // margin: 0 auto;
    // list-style: none;
    // height: 145px;
}

.primary-nav-2 li {
    float: left;
}

.primary-nav-2 a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
    // display:block;
    // text-align:center;
    // width:150px; /* fixed width */
    // text-decoration:none; 
}

.primary-nav {
    // display: flex;
    display: block;
    align-items: center;
    height: 145px;
    margin-top: 1rem;
    position:sticky;
    top:0;
    margin: 0 auto;
    // margin-left: 30%;
    width: 100%;    
}

.nav-pages {
    // flex-grow: 1;
    // display: flex;
    // align-items: center;
    // list-style: none;
    // margin:0;
    list-style-type: none;
    width:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFCE33;
    opacity: 80%;
    background-image: url(../../images/mexican_white.png);
  
}

.li-top {
    float: left;
    // line-height: 1;
    // margin-right: 12px
    border-radius: 2px;
    border: 1px solid #e7e7e7;
    display: block;
    color: #aabbcc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li-top:active {
    color: white;
    background-color: #F1135D;
}

.active {
    color: white;
}
.nav-link {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    border-bottom: 6px border-color grey;
    font-size: 6px;
    height: 28px;
}

.nav-active {
    border-bottom-color: blueviolet;
}